In [6]:
import nltk
import re
import pandas as pd
import heapq
import numpy as np

paragraph = """Thank you all so very much. Thank you to the Academy. 
               Thank you to all of you in this room. I have to congratulate 
               the other incredible nominees this year. The Revenant was 
               the product of the tireless efforts of an unbelievable cast
               and crew. First off, to my brother in this endeavor, Mr. Tom 
               Hardy. Tom, your talent on screen can only be surpassed by 
               your friendship off screen … thank you for creating a t
               ranscendent cinematic experience. Thank you to everybody at 
               Fox and New Regency … my entire team. I have to thank 
               everyone from the very onset of my career … To my parents; 
               none of this would be possible without you. And to my 
               friends, I love you dearly; you know who you are. And lastly,
               I just want to say this: Making The Revenant was about
               man's relationship to the natural world. A world that we
               collectively felt in 2015 as the hottest year in recorded
               history. Our production needed to move to the southern
               tip of this planet just to be able to find snow. Climate
               change is real, it is happening right now. It is the most
               urgent threat facing our entire species, and we need to work
               collectively together and stop procrastinating. We need to
               support leaders around the world who do not speak for the 
               big polluters, but who speak for all of humanity, for the
               indigenous people of the world, for the billions and 
               billions of underprivileged people out there who would be
               most affected by this. For our children’s children, and 
               for those people out there whose voices have been drowned
               out by the politics of greed. I thank you all for this 
               amazing award tonight. Let us not take this planet for 
               granted. I do not take tonight for granted. Thank you so very much."""

In [135]:
# Tokenize sentences
dataset = nltk.sent_tokenize(paragraph)
for i in range(len(dataset)):
    dataset[i] = dataset[i].lower()
    dataset[i] = re.sub(r'\W',' ',dataset[i])
    dataset[i] = re.sub(r'\s+',' ',dataset[i])


# Creating word histogram
word2count = {}
for data in dataset:
    words = nltk.word_tokenize(data)
    for word in words:
        if word not in word2count.keys():
            word2count[word] = 1
        else:
            word2count[word] += 1
            
# Selecting best 100 features
freq_words = heapq.nlargest(100,word2count,key=word2count.get)


# IDF Dictionary
word_idfs = {}
for word in freq_words:
    doc_count = 0
    for data in dataset:
        if word in nltk.word_tokenize(data):
            doc_count += 1
    word_idfs[word] = np.log(len(dataset)/(1+doc_count))
    
# TF Matrix
tf_matrix = {}
for word in freq_words:
    doc_tf = []
    for data in dataset:
        frequency = 0
        for w in nltk.word_tokenize(data):
            if word == w:
                frequency += 1
        tf_word = frequency/len(nltk.word_tokenize(data))
        print(data,'\n')
        print(word,frequency,len(nltk.word_tokenize(data)))
        
        doc_tf.append(tf_word)
    tf_matrix[word] = doc_tf

    break

thank you all so very much

the 0 6
thank you to the academy

the 1 5
thank you to all of you in this room

the 0 9
i have to congratulate the other incredible nominees this year

the 1 10
the revenant was the product of the tireless efforts of an unbelievable cast and crew

the 3 15
first off to my brother in this endeavor mr tom hardy

the 0 11
tom your talent on screen can only be surpassed by your friendship off screen thank you for creating a t ranscendent cinematic experience

the 0 23
thank you to everybody at fox and new regency my entire team

the 0 12
i have to thank everyone from the very onset of my career to my parents none of this would be possible without you

the 1 23
and to my friends i love you dearly you know who you are

the 0 13
and lastly i just want to say this making the revenant was about man s relationship to the natural world

the 2 20
a world that we collectively felt in 2015 as the hottest year in recorded history

the 1 15
our production needed to move to the southern tip of this planet just to be able to find snow

the 1 19
climate change is real it is happening right now

the 0 9
it is the most urgent threat facing our entire species and we need to work collectively together and stop procrastinating

the 1 20
we need to support leaders around the world who do not speak for the big polluters but who speak for all of humanity for the indigenous people of the world for the billions and billions of underprivileged people out there who would be most affected by this

the 5 47
for our children s children and for those people out there whose voices have been drowned out by the politics of greed

the 1 22
i thank you all for this amazing award tonight

the 0 9
let us not take this planet for granted

the 0 8
i do not take tonight for granted

the 0 7
thank you so very much

the 0 5

In [130]:
tf_matrix

{'the': [0.0,
  0.2,
  0.0,
  0.1,
  0.2,
  0.0,
  0.0,
  0.0,
  0.043478260869565216,
  0.0,
  0.1,
  0.06666666666666667,
  0.05263157894736842,
  0.0,
  0.05,
  0.10638297872340426,
  0.045454545454545456,
  0.0,
  0.0,
  0.0,
  0.0]}

In [2]:
# Creating the Tf-Idf Model
tfidf_matrix = []
for word in tf_matrix.keys():
    tfidf = []
    for value in tf_matrix[word]:
        score = value * word_idfs[word]
        tfidf.append(score)
    tfidf_matrix.append(tfidf)   
    
# Finishing the Tf-Tdf model
X = np.asarray(tfidf_matrix)

In [3]:
X.T[0]

array([ 0.        ,  0.        ,  0.12365622,  0.        ,  0.        ,
        0.        ,  0.14121631,  0.        ,  0.        ,  0.        ,
        0.23918075,  0.        ,  0.        ,  0.        ,  0.        ,
        0.27637135,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.32431836,
        0.32431836,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ])

In [4]:
np.nonzero(X>0)

(array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  1,  1,  1,  1,  1,
         1,  1,  1,  1,  2,  2,  2,  2,  2,  2,  2,  2,  2,  3,  3,  3,  3,
         3,  3,  4,  4,  4,  4,  4,  4,  5,  5,  5,  5,  5,  5,  5,  5,  5,
         6,  6,  6,  6,  6,  6,  6,  6,  7,  7,  7,  7,  7,  7,  7,  8,  8,
         8,  8,  8,  8,  9,  9,  9,  9, 10, 10, 10, 10, 11, 11, 11, 12, 12,
        12, 12, 13, 13, 14, 14, 14, 15, 15, 15, 16, 16, 16, 17, 17, 17, 18,
        18, 18, 19, 19, 19, 20, 20, 21, 21, 21, 22, 22, 23, 23, 24, 24, 25,
        25, 26, 26, 27, 27, 28, 28, 29, 29, 30, 30, 31, 32, 33, 33, 34, 34,
        35, 35, 36, 36, 37, 37, 38, 38, 39, 39, 40, 40, 41, 41, 42, 42, 43,
        43, 44, 45, 46, 46, 47, 48, 48, 49, 49, 50, 50, 51, 52, 53, 54, 55,
        56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72,
        73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89,
        90, 91, 92, 93, 94, 95, 96, 97, 98, 99]),
 array([ 1,  3,  4,  8, 10, 11, 12, 14, 15, 16,  1,  2,  3,  5,  7,  8,  9,
        10, 12, 14, 15,  0,  1,  2,  6,  7,  8,  9, 17, 20,  2,  4,  8, 12,
        15, 16,  6, 15, 16, 17, 18, 19,  2,  3,  5,  8, 10, 12, 15, 17, 18,
         0,  1,  2,  6,  7,  8, 17, 20,  4,  7,  9, 10, 14, 15, 16,  3,  8,
         9, 10, 17, 19,  5,  7,  8,  9,  0,  2, 15, 17,  2,  5, 11,  6,  8,
        12, 15,  9, 15, 10, 11, 15,  0,  8, 20,  3,  8, 16,  6, 15, 16, 11,
        14, 15, 12, 14, 16, 13, 14, 15, 18, 19, 15, 16, 15, 16,  0, 20,  0,
        20,  3, 11,  4, 10,  4, 10,  5,  6,  5,  6,  6,  6,  6, 11,  7, 14,
         8, 15, 10, 12, 10, 16, 11, 14, 12, 18, 13, 14, 14, 15, 14, 15, 15,
        19, 15, 15, 15, 16, 16, 17, 19, 18, 19, 18, 19,  1,  2,  3,  3,  3,
         3,  4,  4,  4,  4,  4,  4,  4,  5,  5,  5,  5,  5,  6,  6,  6,  6,
         6,  6,  6,  6,  6,  6,  6,  7,  7,  7,  7,  7,  7,  8,  8,  8,  8,
         8,  8,  8,  8,  9,  9,  9,  9,  9, 10]))

In [9]:
df = pd.DataFrame(dataset, columns = ['documents'])

In [175]:
wordsss={}
for word in freq_words:
    #print(word)
    toc_df = []
    doc_count = 0
    freq=0
    for document in range(len(df)):
        doc_1 = df.iloc[document,0]
        tokens = nltk.word_tokenize(doc_1)
        print(doc_1)
#         print(len(doc_1))
        if word in tokens:
            doc_count+=1
            freq+=1
        freq_wordss = tokens.count(word)
        print(doc_1)
        print(freq,freq_wordss,word)
            
        toc_df.append(freq_wordss/len(nltk.word_tokenize(doc_1))*np.log(len(dataset)/(1+doc_count)))
            
    wordsss[word]=toc_df
    break

thank you all so very much
thank you all so very much
0 0 the
thank you to the academy
thank you to the academy
1 1 the
thank you to all of you in this room
thank you to all of you in this room
1 0 the
i have to congratulate the other incredible nominees this year
i have to congratulate the other incredible nominees this year
2 1 the
the revenant was the product of the tireless efforts of an unbelievable cast and crew
the revenant was the product of the tireless efforts of an unbelievable cast and crew
3 3 the
first off to my brother in this endeavor mr tom hardy
first off to my brother in this endeavor mr tom hardy
3 0 the
tom your talent on screen can only be surpassed by your friendship off screen thank you for creating a t ranscendent cinematic experience
tom your talent on screen can only be surpassed by your friendship off screen thank you for creating a t ranscendent cinematic experience
3 0 the
thank you to everybody at fox and new regency my entire team
thank you to everybody at fox and new regency my entire team
3 0 the
i have to thank everyone from the very onset of my career to my parents none of this would be possible without you
i have to thank everyone from the very onset of my career to my parents none of this would be possible without you
4 1 the
and to my friends i love you dearly you know who you are
and to my friends i love you dearly you know who you are
4 0 the
and lastly i just want to say this making the revenant was about man s relationship to the natural world
and lastly i just want to say this making the revenant was about man s relationship to the natural world
5 2 the
a world that we collectively felt in 2015 as the hottest year in recorded history
a world that we collectively felt in 2015 as the hottest year in recorded history
6 1 the
our production needed to move to the southern tip of this planet just to be able to find snow
our production needed to move to the southern tip of this planet just to be able to find snow
7 1 the
climate change is real it is happening right now
climate change is real it is happening right now
7 0 the
it is the most urgent threat facing our entire species and we need to work collectively together and stop procrastinating
it is the most urgent threat facing our entire species and we need to work collectively together and stop procrastinating
8 1 the
we need to support leaders around the world who do not speak for the big polluters but who speak for all of humanity for the indigenous people of the world for the billions and billions of underprivileged people out there who would be most affected by this
we need to support leaders around the world who do not speak for the big polluters but who speak for all of humanity for the indigenous people of the world for the billions and billions of underprivileged people out there who would be most affected by this
9 5 the
for our children s children and for those people out there whose voices have been drowned out by the politics of greed
for our children s children and for those people out there whose voices have been drowned out by the politics of greed
10 1 the
i thank you all for this amazing award tonight
i thank you all for this amazing award tonight
10 0 the
let us not take this planet for granted
let us not take this planet for granted
10 0 the
i do not take tonight for granted
i do not take tonight for granted
10 0 the
thank you so very much
thank you so very much
10 0 the

In [176]:
df.iloc[0,0]

'thank you all so very much '

In [177]:
list(df['documents'][0].split(' ')).count('all')

1

In [178]:
doc_1.split(' ').count('all')

0

In [179]:
len(wordsss['the'])

21

In [180]:
tf_matrix['the']

[0.0,
 0.2,
 0.0,
 0.1,
 0.2,
 0.0,
 0.0,
 0.0,
 0.043478260869565216,
 0.0,
 0.1,
 0.06666666666666667,
 0.05263157894736842,
 0.0,
 0.05,
 0.10638297872340426,
 0.045454545454545456,
 0.0,
 0.0,
 0.0,
 0.0]

In [181]:
wordsss

{'the': [0.0,
  0.47027505143269555,
  0.0,
  0.19459101490553132,
  0.33164561532070652,
  0.0,
  0.0,
  0.0,
  0.062394979360405334,
  0.0,
  0.12527629684953681,
  0.07324081924454065,
  0.050793731370715106,
  0.0,
  0.042364893019360188,
  0.078929504758444402,
  0.029392143860229657,
  0.0,
  0.0,
  0.0,
  0.0]}

In [49]:
len(doc_1.split(' '))

6

In [55]:
words

['thank', 'you', 'so', 'very', 'much']

In [56]:
freq_words

['the',
 'to',
 'you',
 'of',
 'for',
 'this',
 'thank',
 'and',
 'i',
 'my',
 'all',
 'in',
 'be',
 'who',
 'world',
 'very',
 'have',
 'by',
 'we',
 'our',
 'is',
 'not',
 'people',
 'out',
 'so',
 'much',
 'year',
 'revenant',
 'was',
 'off',
 'tom',
 'your',
 'screen',
 'a',
 'entire',
 'would',
 'just',
 's',
 'collectively',
 'planet',
 'it',
 'most',
 'need',
 'do',
 'speak',
 'billions',
 'there',
 'children',
 'tonight',
 'take',
 'granted',
 'academy',
 'room',
 'congratulate',
 'other',
 'incredible',
 'nominees',
 'product',
 'tireless',
 'efforts',
 'an',
 'unbelievable',
 'cast',
 'crew',
 'first',
 'brother',
 'endeavor',
 'mr',
 'hardy',
 'talent',
 'on',
 'can',
 'only',
 'surpassed',
 'friendship',
 'creating',
 't',
 'ranscendent',
 'cinematic',
 'experience',
 'everybody',
 'at',
 'fox',
 'new',
 'regency',
 'team',
 'everyone',
 'from',
 'onset',
 'career',
 'parents',
 'none',
 'possible',
 'without',
 'friends',
 'love',
 'dearly',
 'know',
 'are',
 'lastly']

In [78]:
len(dataset)

21

In [85]:
doc_1.split(' ').count('a')

0

In [88]:
doc_1.split().count('a')

0

In [89]:
doc_1.split()

['thank', 'you', 'so', 'very', 'much']

In [107]:
for i in range(len(df)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [125]:
df['documents'][2].split().count('the')

0

In [157]:
len(df)

21

In [183]:
'thank' in doc_1:

True